<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width initial-scale-1.0">
    <title>crud</title>

</head>
<body>
    <form action='/edit/<%- employees._id %>' method="POST">
        name <input type="text" name="name" value="<%- employees.name %>"><br><br>
        email<input type="text" name="email" value="<%- employees.email %>"><br><br>
        mobile<input type="text" name="mobile" value="<%- employees.mobile %>"><br><br>
        <input type="submit" value="update">

    </form><br><br><br>

</body>